.popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: bolder;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;

}